extends layout 

block content
    div.main-container
        h1= title

        form.form-container(
            role='form'
            method='POST'
            action='/new'
        )
            div.form-group
                label(
                    for='messageText'
                ) Message Text:
            
                textarea#message-text(
                    required 
                    type='text'
                    rows=3
                    name='messageText'
                    placeholder='Enter message'
                )
            div.form-group
                label(
                    for="author"
                ) Name:
                input#author(
                    required
                    type='text'
                    name='author'
                    placeholder='Name'
                )
                
            button(
                class='button'
                type='submit'
            ) Submit